<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "header.html" %}
    <title>Document</title>
</head>

<body>
    {% include "navBarRecep.html" %}
    <div class="bg-image" style="background-image: url('../static/indexbg/fondolargocolor.webp'); height: 100vh;">
        <div class="container">
            <div class="d-flex justify-content-evenly">
                <div class="card mt-5" style="width: 25rem;">
                    <div class="card-header">
                        <label class="fw-bolder">Citas Proximas</label>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Hora 1 <i class="bi bi-eye-fill"></i></li>
                        <li class="list-group-item">Hora 2 <i class="bi bi-eye-fill"></i></li>
                        <li class="list-group-item">Hora 3 <i class="bi bi-eye-fill"></i></li>
                        <li class="list-group-item">Hora 4 <i class="bi bi-eye-fill"></i></li>
                        <li class="list-group-item">Hora 5 <i class="bi bi-eye-fill"></i></li>
                        <li class="list-group-item">Hora 6 <i class="bi bi-eye-fill"></i></li>
                        <li class="list-group-item">Hora 7 <i class="bi bi-eye-fill"></i></li>
                        <li class="list-group-item">Hora 8 <i class="bi bi-eye-fill"></i></li>
                        <li class="list-group-item">Hora 9 <i class="bi bi-eye-fill"></i></li>
                    </ul>
                </div>
                <div class="card mt-5" style="width: 25rem;">
                    <div class="card-header">
                        <label class="fw-bolder">Ultimas Modificaciones</label>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Paciente Agregado <i class="bi bi-eye-fill"></i></li>
                        <li class="list-group-item">Hora Agendada <i class="bi bi-eye-fill"></i></li>
                        <li class="list-group-item">Paciente Modificado <i class="bi bi-eye-fill"></i></li>
                        <li class="list-group-item">Paciente Agregado 2 <i class="bi bi-eye-fill"></i></li>
                        <li class="list-group-item">Hora Agendada 2 <i class="bi bi-eye-fill"></i></li>
                        <li class="list-group-item">Paciente Modificado 2 <i class="bi bi-eye-fill"></i></li>
                        <li class="list-group-item">Paciente Agregado 3 <i class="bi bi-eye-fill"></i></li>
                        <li class="list-group-item">Hora Agendada 3 <i class="bi bi-eye-fill"></i></li>
                        <li class="list-group-item">Paciente Modificado 3 <i class="bi bi-eye-fill"></i></li>
                    </ul>
                </div>

            </div>


        </div>
        <div>
</body>

</html>